* {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.head {
    background-image: url("https://i.pinimg.com/originals/00/1d/f4/001df465267b254a5045a230e4692837.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    opacity: 0.87;
}

.left,
.right {
    margin: 50px;
}

h1 {
    font-size: 40px;
}

.advantages img {
    width: 200px;
    height: 200px;
}

.advantages {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}

.advantages1 {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.advantages1 img:hover {
    height: 300px;
    width: 300px;
}

.advantages h5:hover {
    color: lightblue;
}

.main img {
    width: 300px;
    height: 300px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: center;
}

.main2,
.main6 {
    background-color: lightgray;
}

.main2,
.main3,
.main6,
.main7 {
    max-width: 700px;
}

.main p,
h4 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 40px;
}

.client p {
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.33);
}

.end p {
    font-size: 14px;
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1) translateX(10px);
}

button {
    padding: 5px 15px;
    border: lightblue 2px solid;
    transition: background-color;
    transition-duration: 0.5s;
}

.more {
    display: none
}

@media screen and (max-width: 930px) {
    body {
        font-size: 20px;
    }
    .head {
        width: 100%;
    }
    .advantages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .main2,
    .main3,
    .main6,
    .main7 {
        width: 100%;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 779px) {
    body {
        font-size: 19px;
    }
    .main {
        font-size: 18px;
    }
    .main1 img,
    .main4 img,
    .main5 img,
    .main8 img {
        max-width: 200px;
        max-height: 200px;
    }
    .head {
        height: 650px;
    }
    .reviews h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 540px) {
    .head {
        height: 680px;
    }
}

@media screen and (max-width: 468px) {
    body {
        font-size: 14px;
    }
    .head {
        height: 730px;
    }
    .advantages1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .advantages1 img {
        width: 150px;
        height: 150px;
    }
    .advantages1 img:hover {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 343px) {
    .head {
        height: 750px;
    }
    .advantages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}